/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #0088cc; /* Основной цвет Telegram */
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 20px 20px;
    transition: background-color 0.3s ease;
}

header nav ul li a:hover {
    background-color: #006699;
    border-radius: 5px;
}

main {
    padding: 20px 20px;
    text-align: center;
}

h1 {
    color: #0088cc;
}

footer {
    background-color: #006699;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 12px; /* Уменьшаем размер шрифта */
    position: fixed;
    width: 100%;
    bottom: 0;
}

button {
    background-color: #0088cc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #006699;
}

/* Стили для изображений */
.image-block {
    text-align: center;
    margin: 30px 0;
}

.image-block img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
